@media screen and (min-width: 1180px) {
	body, h1, h2, h3, p, img, ul, li{
		border:0; margin:0; padding:0;
	}
		/*the above is a very basic reset rule.  Every browser has a slightly different default for HTML tags.  By using this simple CSS reset, all the more glaring styles
		are reset and can now be set to whatever properties that would suit your website best. */

	div.col-right{
		float:right;
		}

	div.sidebar-left{
		float:left;
		}

}
