/* for 980px or less */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px){

  div#header{
    width:auto;
  }
  div.content{
    width:auto;
  }
  div.col-right{
    width:auto;
  }
  div.sidebar-left{
    display:none;
  }
  div#footer{
    width:auto;
  }
  
}


/* for 700px or less */
@media screen and (max-width: 700px) {

}

/* for 480px or less */
@media screen and (max-width: 480px) {

}
